#card-box{
    margin: 0 auto;
    width: 400px;
    height: 500px;
    background-color: blanchedalmond;
    padding: 30px;
}
#image{
    width: 100%;
}
h4{
    font-size: 24px;
    font-weight: 700;
}
p{
    font-size: 22px;
    font-weight: 100;
}